<div class="container-fluid">
  <div class="">
    <h3 class="text-center">Create an Account</h3>
    <form method="post"  role="form">{% csrf_token %}
      {% for field in user_non_admin_form %}
      <div class="text-center ">
       <p>{{ field }}</p>
          {% for error in field.errors %}
            <p style="color:red">{{ error }}</p>
          {% endfor %}
      </div>
      {% endfor %} 
     
     <div class="col-md-12 ">
      <button type="submit" name="regbtn" class="btn btn-default fit-button" >Register Account</button>
    </div>
   </form>
  </div>
  <div class="col-md-4"></div>
</div>