{% load staticfiles %}


<div class=" box-side text-center" id="about-us" >

	<img  src="{% static 'img/blog.jpg' %} " width="100%" height="40%">
		<br><br>
		<p>Welcome to Django Blog! Lorem ipsum dolor sit amet, ne unum clita labores ius. Ex usu soluta invidunt theophrastus. Debet ludus dissentiet ex duo, munere eruditi dissentiet ius an. Per te labitur dolores, ne denique pertinax ius, an minim principes sea. Feugait commune pri ut, sed tantas malorum sententiae ne. Ne viderer alterum debitis his, debet omnes per te, ut pri feugiat offendit. Et his legere alterum urbanitas.

Ea copiosae eleifend est. Vide mediocritatem ei pri, eu mei omnium signiferumque, omnis modus abhorreant ei his. Sit ei possit equidem vulputate. Sed ut altera civibus rationibus, et nobis gubergren disputando per.</p>


</div>

