{% load staticfiles %}

<html>
    <head>
        <title>Django Girls blog</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
		<link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap-theme.min.css' %}">
		<link rel="stylesheet" href="{% static 'css/blog.css' %}">

        <!--<link href="{% static 'css/summernote/summernote.css' %}" rel="stylesheet">
        <link href="{% static 'css/summernote/summernote-bs3.css' %}" rel="stylesheet"> -->


    </head>
   <body>

    <div class="col-md-12 page-header ">
        {% if user.is_authenticated %}
            <a href="{% url 'post_draft_list' %}" class="top-menu"><span class="glyphicon glyphicon-edit"></span></a>
            <a href="{% url 'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
            <a href="{% url 'logout' %}" class="top-menu"><span class="glyphicon glyphicon-log-out"></span></a>
        {% else %}
            <h3><a href="{% url 'login' %}" class="top-menu">Log-in</a></h3>
            <h3><a href="{% url 'register_account' %}" class="top-menu">Create</a></h3>
        {% endif %}
        <h1><a href="/">Django Blog</a></h1>
    </div>

     {% if user.is_authenticated %}
     <div class=" row main">
     <div class="col-md-2"  >{% include 'blog/user_dashboard.html' %}</div>
    
    {% block content %}
    {% endblock %}
</div>

    {% else %}
<div class="row main">
<div class="col-md-9">
{% include 'blog/post_list.html' %}
</div>
<div class="col-md-3">
    
{% include 'blog/about_us.html' %}
</div>
</div>
 {% endif %}
      
   <script type="text/javascript" src="{% static 'bootstrap.min.js' %}"></script>
    

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <link href="{% static 'font-awesome/css/font-awesome.css' %}" rel="stylesheet">

     


    <script>
        //$('.render-text-area').html($('.render-text-area').text());
       // $('p.render-text-area').html();

     /* var str = $('p.render-text-area').text();
        var result = /<[a-z][\s\S]*>/.test(str);

        if(result == true){
            $('p.render-text-area').text().block();

        }
        else{
            $('p.render-text-area').text().hide();
        }
*/



        function myFunction() {

            var posts = "{{ posts }}";
            var temp = "{{ temp }}";

            var str = $('p.render-text-area').html();

           // alert(posts);
            //for (i = 0; i < 3; i++) { 
               alert("temp here "+temp+" posts here"+posts);
              //  }

     
        }
     
      /*  if($('p.render-text-area').text()){
            $('p.render-text-area').text();
        }if($('p.render-text-area').html($('p.render-text-area').text())){
            $('p.render-text-area').html($('p.render-text-area').text());
        }*/

       /* $(document).ready(function(){

            $('.summernote').summernote();
                 
       });
    

       $('textarea[name="text"]').html($('#summernote').code());
       $('#summernote').code($('textarea').text());
         */

       /* var edit = function() {
            $('.click2edit').summernote({focus: true});
        };
        var save = function() {
            var aHTML = $('.click2edit').code(); //save HTML If you need(aHTML: array).
            $('.click2edit').destroy();
        };*/
    </script>
    <!--<script>window.CKEDITOR_BASEPATH = '/static/ckeditor/ckeditor/';</script>
    <script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>
<script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>-->

</body>
</html>