{% extends 'blog/base.html' %}
{% block content %}



<div class="col-md-12 " style="background-color: red"><br><br></div>

 
{% if user.is_authenticated %}
<div class=" container main">
    <div class="col-md-3 user-dash-top"  >{% include 'blog/user_dashboard.html' %}</div>
    <div class="col-md-6" id="post-list-user" >
      <div class="col-md-11">{% include 'blog/post_list.html' %}</div>
    </div>
  
</div>
{% else %}
<div class="container main">
    <div class="col-md-3 "   id="about-us">
      <div class="box" > {% include 'blog/about_us.html' %}</div>
    </div>
    <div class="col-md-6 " id="post-list">
      <div class="col-md-12">{% include 'blog/post_list.html' %}</div>
    </div>   
    <div class="col-md-3 right-side" >
      <div>{% include 'registration/login.html' %}</div>
      <div>&nbsp
        <h3 class="text-center">
          <font size="4px">or</font>
        </h3>
      </div>
      <div>{% include 'registration/register.html' %}</div>
    </div> 
</div>
{% endif %}
{% endblock %}