{% extends 'blog/base.html' %}
{% load staticfiles %}
{% block content %}








{% if user.is_authenticated %}
  <div class="dol-md-12">
    <h1>Edit</h1>

      <form method="POST" class="post-form" role="form" enctype="multipart/form-data">{% csrf_token %}

                   <div class="col-sm-offset-2 col-sm-10">
            <span class="text-danger small">{{ profile_form.errors }}</span>
           </div>
            
           <div class="col-md-12">{{ profile_form }}</div> 

<div class="col-md-12">{{ profile.pk }}</div> 


            </div>
            <hr>
      
    <button type="submit" class="save btn btn-default" >Save</button>

      </form>
  </div>

{% endif %}
{% endblock %}