{% extends 'blog/base.html' %}
{% load staticfiles %}
{% block content %}


<div class="col-md-12">
	{{ profile_form.errors }}
	<div class="col-md-12 user-top " >
		<div class="row" >
			{% if user.profile.edit_status  %}
				<img src="{{  profile_form.instance.user_cover_pic.url }}"  id="preUserCover" width="100%" height="60%" style="display: block;">
			{% else %}
				<img  src="{% static 'img/back2.png' %}" id="preUserCover" width="100%" height="70%" style="display: block;"> 
			{% endif %}
		</div>

		<div class="col-md-12 ">
			<div class="col-md-12 img-usr"   >
				{% if user.profile.edit_status  %}
					<img  class="img-circle user-small-pic-profile " id="preUser" src="{{  profile_form.instance.user_profile_pic.url }}" style="display: block;"   >

				{% else %}
					<img  class="img-circle user-small-pic-profile "  id="preUser" src="{% static 'img/ragna.png' %}"  style="display: block;"  >
				{% endif %}
				<div class="col-md-3"></div>
			</div>
			<div class="col-md-3">
				{% ifequal user.username|stringformat:"s" request.user.username  %}
					<div class="row ">
						<button class="button-edit-user">
							<span class="glyphicon glyphicon-pencil"></span>
								Edit
						</button>
					</div>
				{% endifequal %}
			</div>
			<div class="col-md-9 box-profile-top">
				<div class="col-md-2 "><p>@{{ user.username }}</p> </div>
				<div class="col-md-2 "><p>followers: {{ user.profile.followers }}</p> </div>
				<div class="col-md-2 "><p>following: {{ user.profile.following }}</p> </div>
				<div class="col-md-2 "><p># of posts: {{ posts.count }}</p> </div>
				</div>
		</div>
	</div>

	<div class="col-md-1"></div>
	
	<div class="col-md-3 user-small-info" >
		<div class="col-md-12">{{ profile_form.errors }}  {{ profile_form.non_field_errors }}</div>
			<div class="user-info" style="display: line-block ">
				<div class="col-md-12 text-center"><br><br><p>{{ user.profile.about_me }}</p><hr> </div>
				<div class="col-md-12"><p>name: <strong>{{ user.get_full_name }}</strong> </p></div>
				<div class="col-md-12"><p>email: <strong>{{ user.email }}</strong></p></div>
				<div class="col-md-12"><p>gender: <strong>{{ user.profile.gender }}</strong></p> </div>
				<div class="col-md-12"><p>birthday: <strong>{{ user.profile.birth_date }}</strong> </p></div>
				<div class="col-md-12"><p>hometown: <strong>{{ user.profile.location }}</strong></p></div>
				<div class="col-md-12"><p>currently lives: <strong>{{ user.profile.lives }}</strong>  </p></div>
				<div class="col-md-12"><p>status: <strong>{{ user.profile.status }}</strong></p></div>
				<div class="col-md-12"><p>school: <strong>{{ user.profile.studied }}</strong> </p></div>
				<div class="col-md-12"><p>profession: <strong>{{ user.profile.profession }}</strong> </p></div>
				<div class="col-md-12"><p>work: <strong>{{ user.profile.work }}</strong> </p></div>
				<div class="col-md-12"><p>language: <strong>{{ user.profile.language }}</strong> </p></div>
				<div class="col-md-12"><p>motto: <strong>{{ user.profile.motto }}</strong></p> </div>
			</div>

			<div class="user-info-edit" style="display: none">
				<form method="POST" class="post-form" role="form" enctype="multipart/form-data">{% csrf_token %}
					<div class="col-md-9 user-profile-upload-cover" style="display: none;">{{ profile_form.user_cover_pic}}</div>	 
					<div class="col-md-9 user-profile-upload" style="display: none;">{{ profile_form.user_profile_pic }}</div>
					<div class="col-md-12">{{ profile_form.errors }} {{ profile_form.non_field_errors }}</div>
					<div class="col-md-12 text-center"><p>{{ profile_form.about_me }}</p><hr> </div>
					<div class="col-md-12"><p>{{ user_non_admin_form.username }} </p></div>
					<div class="col-md-12"><p>{{ user_non_admin_form.first_name }} </p></div>
					<div class="col-md-12"><p>{{ user_non_admin_form.last_name }}</p></div>
					<div class="col-md-12"><p>{{ user_non_admin_form.email }}</p></div>
					<div class="col-md-12"><p>{{ profile_form.gender }}</p> </div>
					<div class="col-md-12"><p>{{ profile_form.birth_date }} </p></div>
					<div class="col-md-12"><p>{{ profile_form.location }}</p></div>
					<div class="col-md-12"><p>{{ profile_form.lives }}  </p></div>
					<div class="col-md-12"><p>{{ profile_form.status }}</p></div>
					<div class="col-md-12"><p>{{ profile_form.studied }} </p></div>
					<div class="col-md-12"><p>{{ profile_form.profession }} </p></div>
					<div class="col-md-12"><p>{{ profile_form.work }} </p></div>
					<div class="col-md-12"><p>{{ profile_form.language }} </p></div>
					<div class="col-md-12"><p>{{ profile_form.motto }}</p> </div>
					<div class="col-md-6 "><button type="submit" class="btn btn-default fit-button" >Cancel</button></div>
					<div class="col-md-6 "><button type="submit" class="btn btn-success fit-button" >Save Changes</button></div>
				</form>
			</div>
	</div>

	<div class="col-md-7">
		<p></p><br>
		<div class="col-md-12" id="post-list-user-prof" width=100px >{% include 'blog/post_list.html' %}</div>
	</div>
	<div class="col-md-1"></div>
</div>
{% endblock %}